
<%- include("Header") -%>


    <h1 class="welcome">Basic Banking System</h1>
    <div class="flex" >
    <a href="viewcustomers" >View All customers</a>
    <a href="transfermoney" >Transaction History</a>
    
</div>


<%- include("Footer") -%>

