<%- include("Header") -%>
<a href="/" style="font-size:30px;">Homepage</a>
<h1 style="text-align: center; ">Mohit Goyal</h1>
<h1 style="text-align: center; ">The Sparks foundation </h1>
<h5 style="text-align: center; ">Basic Banking System</h5>
<h3 style="text-align: center; ">Task 1</h3>

<%- include("Footer") -%>
